{% extends "../_layout.twig" %}
{% set pageTitle = 'About Page' %}

{% block header %}
	{% include '../layouts/_header.twig' %}
{% endblock %}

{% block content %}
	<section class="content">
		<div class="about-page__background">
			<div class="about-page__container ">
				<h1>About Us</h1>
				<p>The school was founded in 2017. For 5 years, highly qualified swimming coaches and active sports masters with physical education have been successfully conducting training sessions.</p>
				<p>We instill in children a desire for victory, discipline, endurance, and a sporting spirit. Coaches are interested in the results of their trainees.</p>
				<ul>
					<li>- Personal and group training.</li>
					<li>- Rehabilitation after injuries.</li>
					<li>- Hydro-rehabilitation.</li>
					<li>- Strengthening the health of your child.</li>
				</ul>
			</div>
		</div>
	</section>

{% endblock %}

{% block footer %}
	{% include '../layouts/_footer.twig' with {} %}
{% endblock %}
