

	<div class="news-page__cards__container__item">
		<a href="./news/a1.html" class="transition">
			<div>
				<img src="../../assets/images/sportsmen.jpg" alt="Cоревнования памяти Марии Цукановой">
				<h6>Cоревнования памяти Марии Цукановой</h6>
				<p class="news-page__cards__container__item__date">02.05.2023</p>
				<p>Традиционные соревнования по плаванию, посвящённых памяти Героя Советского союза Марии Цукановой, состоятся 4-5 мая в плавательном бассейне «Кристалл»</p>
			</div>
			<span class="text-underlined">Подробнее...</span>
		</a>
	</div>


	<div class="news-page__cards__container__item">
		<a href="./news/a2.html" class="transition">
			<div>
				<img src="../../assets/images/ontheback.jpg" alt="ЛУЧШИЕ МОМЕНТЫ Соревнований 'Первые старты' 22.04.23г.">
				<h6>ЛУЧШИЕ МОМЕНТЫ Соревнований 'Первые старты' 22.04.23г.</h6>
				<p class="news-page__cards__container__item__date">28.04.2023</p>
				<p>Вспомнить как это было и сохраните для себя лучшие моменты соревнований! Переходите по ссылке и ищите себя на фото</p>
			</div>
			<span class="text-underlined">Подробнее...</span>
		</a>
	</div>


	<div class="news-page__cards__container__item">
		<a href="./news/a3.html" class="transition">
			<div>
				<img src="../../assets/images/news_compet.jpg" alt="Уже завтра 22 апреля соревнования!">
				<h6>Уже завтра 22 апреля соревнования!</h6>
				<p class="news-page__cards__container__item__date">21.04.2023</p>
				<p>Информация по программе соревнований</p>
			</div>
			<span class="text-underlined">Подробнее...</span>
		</a>
	</div>

