<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="/assets/css/main.css">
		<script type='module' defer src="/assets/js/common.js"></script>
		<title>Downloads page</title>

	</head>
	<body>
		<div id="root">
			<div class="theme-switcher__container">
				<label for="theme-switcher">
					<input type="checkbox" id="theme-switcher">
				</label>
			</div>
			<div class="overlay"></div>
			
	<header class="header">
	<div class="header__container container">
		<a href="index.html">
			<img src="../../assets/images/logo.png" class='header__logo' alt="Logo">
		</a>
		<nav>
	<div class="mobile">
		<button aria-label="mobile menu" class="">
			<span></span>
			<span></span>
			<span></span>
		</button>
		<ul class="nav__menu_mobile">
			<li>
				<a href="/">
					<span class="text-underlined">Home</span>
				</a>
			</li>
			<li>
				<a href="/about.html" class="transition">
					<span class="text-underlined">About Us</span>
				</a>
			</li>
			<li class="expandable">
				<div class="row">
					<span class="text-underlined">News</span>
				</div>

				<div class="dropdown-content">
					<a class="transition" href="/news.html">
						<span class="text-underlined">Latest News</span>
					</a>
					<a class="transition" href="/news.html">
						<span class="text-underlined">News Archive</span>
					</a>
				</div>
			</li>
			<li>
				<a href="/price.html" class="transition">
					<span class="text-underlined">Prices</span>
				</a>
			</li>
			<li>
				<a href="/downloads.html" class="transition">
					<span class="text-underlined">Documents</span>
				</a>
			</li>
			<li>
				<a href="/contacts.html" class="transition">
					<span class="text-underlined">Contacts</span>
				</a>
			</li>
		</ul>
	</div>

	<div class="desktop">
		<ul class="nav__menu row">
			<li>
				<a href="/" class="transition">
					<span class="text-underlined">Home</span>
				</a>
			</li>
			<li>
				<div class="nav__line"></div>
			</li>
			<li>
				<a href="/about.html" class="transition">
					<span class="text-underlined">About Us</span>
				</a>
			</li>
			<li>
				<div class="nav__line"></div>
			</li>
			<li class="expandable">
				<span class="text-underlined">News</span>
				<div class="dropdown-content">
					<div class="container">
						<a class="transition" href="/news.html">
							<span class="text-underlined">Latest News</span>
						</a>
						<a class="transition" href="/news.html">
							<span class="text-underlined">News Archive</span>
						</a>
					</div>
				</div>
			</li>
			<li>
				<div class="nav__line"></div>
			</li>
			<li>
				<a href="/price.html" class="transition">
					<span class="text-underlined">Prices</span>
				</a>
			</li>
			<li>
				<div class="nav__line"></div>
			</li>
			<li>
				<a href="/downloads.html" class="transition">
					<span class="text-underlined">Documents</span>
				</a>
			</li>
			<li>
				<div class="nav__line"></div>
			</li>
			<li>
				<a href="/contacts.html" class="transition">
					<span class="text-underlined">Contacts</span>
				</a>
			</li>
		</ul>
	</div>
</nav>

	</div>
</header>



			
	<section class="content downloads-page">
		<div class="downloads-page__background-photo">
			<div class="downloads-page__cards">

				
					<div class="downloads-page__cards__item">
						<a href="#Documents">
							<span class="text-underlined">Documents</span>
							<img src="../../assets/images/woman1.jpg" alt="Documents">
						</a>
					</div>
				
					<div class="downloads-page__cards__item">
						<a href="#Competitions">
							<span class="text-underlined">Competitions</span>
							<img src="../../assets/images/swimming.jpg" alt="Competitions">
						</a>
					</div>
				
					<div class="downloads-page__cards__item">
						<a href="#Archive">
							<span class="text-underlined">Archive</span>
							<img src="../../assets/images/ontheback.jpg" alt="Archive">
						</a>
					</div>
				

			</div>
		</div>
		<div class="downloads-page__docs__container">
			

				<div class="downloads-page__docs__container__item container" id="Documents">
					<h3>Documents</h3>
					<ul>
						<li>
							<div class="downloads-page__docs__container__item__line"></div>
						</li>
						
							<li>
								<a href="../../assets/documents/docs/Charter_FPIO_Baikal.PDF" download="Charter_FPIO_Baikal.PDF" class="text-underlined" title="СКАЧАТЬ ФАЙЛ">Charter of FPIO Baikal</a>
							</li>
							<li>
								<div class="downloads-page__docs__container__item__line"></div>
							</li>
						
							<li>
								<a href="../../assets/documents/docs/Certificate_of_Registration_FPIO_Baikal.pdf" download="Certificate_of_Registration_FPIO_Baikal.pdf" class="text-underlined" title="СКАЧАТЬ ФАЙЛ">Certificate of Registration of FPIO Baikal</a>
							</li>
							<li>
								<div class="downloads-page__docs__container__item__line"></div>
							</li>
						
							<li>
								<a href="../../assets/documents/docs/Accreditation_Ministry_of_Sports_FPIO_Baikal.pdf" download="Accreditation_Ministry_of_Sports_FPIO_Baikal.pdf" class="text-underlined" title="СКАЧАТЬ ФАЙЛ">Accreditation from the Ministry of Sports of Irkutsk Region for FPIO Baikal</a>
							</li>
							<li>
								<div class="downloads-page__docs__container__item__line"></div>
							</li>
						
					</ul>
				</div>
			

				<div class="downloads-page__docs__container__item container" id="Competitions">
					<h3>Competitions</h3>
					<ul>
						<li>
							<div class="downloads-page__docs__container__item__line"></div>
						</li>
						
							<li>
								<a href="../../assets/documents/competitions/Cup_of_Irkutsk_Region_11-12.05.23_Day_1.pdf" download="Cup_of_Irkutsk_Region_11-12.05.23_Day_1.pdf" class="text-underlined" title="СКАЧАТЬ ФАЙЛ">Cup of Irkutsk Region 11-12.05.23 Day 1</a>
							</li>
							<li>
								<div class="downloads-page__docs__container__item__line"></div>
							</li>
						
							<li>
								<a href="../../assets/documents/competitions/Irkutsk_Region_Cup_Day_1_Results.pdf" download="Irkutsk_Region_Cup_Day_1_Results.pdf" class="text-underlined" title="СКАЧАТЬ ФАЙЛ">Cup of Irkutsk Region Day 1 Results</a>
							</li>
							<li>
								<div class="downloads-page__docs__container__item__line"></div>
							</li>
						
							<li>
								<a href="../../assets/documents/competitions/Irkutsk_Region_Cup_Start_Day_2.pdf" download="Irkutsk_Region_Cup_Start_Day_2.pdf" class="text-underlined" title="СКАЧАТЬ ФАЙЛ">Cup of Irkutsk Region Start Day 2</a>
							</li>
							<li>
								<div class="downloads-page__docs__container__item__line"></div>
							</li>
						
							<li>
								<a href="../../assets/documents/competitions/Irkutsk_Region_Cup_Overall_Results.pdf" download="Irkutsk_Region_Cup_Overall_Results.pdf" class="text-underlined" title="СКАЧАТЬ ФАЙЛ">Cup of Irkutsk Region Overall Results</a>
							</li>
							<li>
								<div class="downloads-page__docs__container__item__line"></div>
							</li>
						
							<li>
								<a href="../../assets/documents/competitions/Start_Protocol_Tsukanova.docx" download="Start_Protocol_Tsukanova.docx" class="text-underlined" title="СКАЧАТЬ ФАЙЛ">Competition in Memory of Maria Tsukanova Start Protocol</a>
							</li>
							<li>
								<div class="downloads-page__docs__container__item__line"></div>
							</li>
						
							<li>
								<a href="../../assets/documents/competitions/Day_1_Results_Tsukanova.docx" download="Day_1_Results_Tsukanova.docx" class="text-underlined" title="СКАЧАТЬ ФАЙЛ">Competition in Memory of Maria Tsukanova Day 1 Results</a>
							</li>
							<li>
								<div class="downloads-page__docs__container__item__line"></div>
							</li>
						
							<li>
								<a href="../../assets/documents/competitions/Final_Protocol_Tsukanova_2023.docx" download="Final_Protocol_Tsukanova_2023.docx" class="text-underlined" title="СКАЧАТЬ ФАЙЛ">Final Protocol of the Competition in Memory of Maria Tsukanova</a>
							</li>
							<li>
								<div class="downloads-page__docs__container__item__line"></div>
							</li>
						
					</ul>
				</div>
			

				<div class="downloads-page__docs__container__item container" id="Archive">
					<h3>Archive</h3>
					<ul>
						<li>
							<div class="downloads-page__docs__container__item__line"></div>
						</li>
						
							<li>
								<a href="../../assets/documents/competitions/Swimming_Championship_Regulation_12.2022_Irkutsk.pdf" download="Swimming_Championship_Regulation_12.2022_Irkutsk.pdf" class="text-underlined" title="СКАЧАТЬ ФАЙЛ">Regulation of the Swimming Championship 12.2022 Irkutsk</a>
							</li>
							<li>
								<div class="downloads-page__docs__container__item__line"></div>
							</li>
						
							<li>
								<a href="../../assets/documents/competitions/Start_Day_1.pdf" download="Start_Day_1.pdf" class="text-underlined" title="СКАЧАТЬ ФАЙЛ">Start Day 1</a>
							</li>
							<li>
								<div class="downloads-page__docs__container__item__line"></div>
							</li>
						
							<li>
								<a href="../../assets/documents/competitions/Cup_Popova_Start_Day_1.pdf" download="Cup_Popova_Start_Day_1.pdf" class="text-underlined" title="СКАЧАТЬ ФАЙЛ">Cup Popova Start Day 1</a>
							</li>
							<li>
								<div class="downloads-page__docs__container__item__line"></div>
							</li>
						
							<li>
								<a href="../../assets/documents/competitions/Cup_Popova_Start_Day_2.pdf" download="Cup_Popova_Start_Day_2.pdf" class="text-underlined" title="СКАЧАТЬ ФАЙЛ">Cup Popova Start Day 2</a>
							</li>
							<li>
								<div class="downloads-page__docs__container__item__line"></div>
							</li>
						
					</ul>
				</div>
			

		</div>
	</section>


			
	



<footer>
	<div class="footer__menu container">
		<div class="footer__menu_left-block">
			<h6>Federation of Swimming of Irkutsk Region "Baikal"</h6>
			<p>We instill in children the desire to win, discipline, endurance, and a sports spirit.
			</p>
		</div>
		<div class="footer__line"></div>
		<div class="footer__menu_right-block">
			
				<a href="https://go.2gis.com/akm0i" target="_blank">
					<div class="row footer__contacts__block">
						<img src="../../assets/images/icons/location1_icon.svg" alt="address" class="footer__icon">
						<p class="footer__contacts__block__text text-underlined">664050, Irkutsk Region, Irkutsk, ul. Baikalskaya, 253/1</p>
					</div>
				</a>
			
				<a href="tel:+7111111111111" target="_blank">
					<div class="row footer__contacts__block">
						<img src="../../assets/images/icons/phone_icon.svg" alt="phone" class="footer__icon">
						<p class="footer__contacts__block__text text-underlined">+7 111111111111</p>
					</div>
				</a>
			
				<a href="mailto:email_address@gmail.com" target="_blank">
					<div class="row footer__contacts__block">
						<img src="../../assets/images/icons/envelope_mail_icon.svg" alt="email" class="footer__icon">
						<p class="footer__contacts__block__text text-underlined">email_address@gmail.com</p>
					</div>
				</a>
			
		</div>
	</div>

	<div class="footer__rights">
		<div class="footer__rights__container row container">
			Federation of Swimming of Irkutsk Region<br>Copyright © 2023 All rights reserved
			<div class="row">
				
					<a href="https://instagram.com/swimming.irkutsk?igshid=NTc4MTIwNjQ2YQ==" target="_blank">
						<img src="../../assets/images/icons/instagram_icon.svg" class="footer__rights__icon" alt="instagram">
					</a>
				
					<a href="https://t.me/fpiobaikal" target="_blank">
						<img src="../../assets/images/icons/telegram_icon.svg" class="footer__rights__icon" alt="telegram">
					</a>
				
					<a href="https://vk.com" target="_blank">
						<img src="../../assets/images/icons/vk_icon.svg" class="footer__rights__icon" alt="vkontakte">
					</a>
				
			</div>
		</div>
	</div>
</footer>


		</div>
	</body>
</html>
