{% extends "../_layout.twig" %}
{% set pageTitle = 'Home page' %}

{% block header %}
	{% include '../layouts/_header.twig' %}
{% endblock %}

{% block content %}
	<section class="content">
		<div class="main-page__background-photo">
			<div class="main-page__description">
				<h1>Welcome to the website of the Swimming Federation of Irkutsk Region "Baikal"</h1>
				<p>The main goal of the federation is the development and promotion of swimming, organization and conduct of sports events, and the training of regional team athletes.</p>
				<a href="/contacts.html" class="transition">Sign Up</a>
			</div>
		</div>
	</section>

{% endblock %}

{% block footer %}
	{% include '../layouts/_footer.twig' with {} %}
{% endblock %}
