{% extends "../_layout.twig" %}
{% set pageTitle = 'News Detail Page' %}


{% block header %}
	{% include '../layouts/_header.twig' %}
{% endblock %}

{% block content %}
	<section class="content">
		<div class="newsDetailed-page__background">
			<div class="newsDetailed-page__container container">
				<h1>{{ news.header }}</h1>
				<h3>Информация по программе соревнований:</h3>
				<img src="./assets/images/girl.jpg" alt="news image">
				<div>{{ news.text }}


				</div>
				<a href="/news.html" class="text-underlined transition">Вернуться к новостям</a>
			</div>
		</div>
	</section>
{% endblock %}

{% block footer %}
	{% include '../layouts/_footer.twig' with {} %}
{% endblock %}
