{% extends "../_layout.twig" %}
{% set pageTitle = 'News page' %}


{% block header %}
	{% include '../layouts/_header.twig' %}
{% endblock %}

{% block content %}
	<section class="content">
		<div class="news-page__background">
			<h1>Новости</h1>
			<h3>Следите за нашими новостями,
				<br>акциями и соревнованиями</h3>

			<div class="news-page__cards__container container">
				{% include './all-news.twig' %}
			</div>
		</div>
	</section>
{% endblock %}

{% block footer %}
	{% include '../layouts/_footer.twig' with {} %}
{% endblock %}
