<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="/assets/css/main.css">
		<script type='module' defer src="/assets/js/common.js"></script>
		<title>News page</title>

	</head>
	<body>
		<div id="root">
			<div class="theme-switcher__container">
				<label for="theme-switcher">
					<input type="checkbox" id="theme-switcher">
				</label>
			</div>
			<div class="overlay"></div>

			<header class="header">
				<div class="header__container container">
					<a href="index.html">
						<img src="../../assets/images/logo.png" class='header__logo' alt="Logo">
					</a>
					<nav>
						<div class="mobile">
							<button aria-label="mobile menu" class="">
								<span></span>
								<span></span>
								<span></span>
							</button>
							<ul class="nav__menu_mobile">
								<li>
									<a href="/">
										<span class="text-underlined">Home</span>
									</a>
								</li>
								<li>
									<a href="/about.html" class="transition">
										<span class="text-underlined">About Us</span>
									</a>
								</li>
								<li class="expandable">
									<div class="row">
										<span class="text-underlined">News</span>
									</div>

									<div class="dropdown-content">
										<a class="transition" href="/news.html">
											<span class="text-underlined">Latest News</span>
										</a>
										<a class="transition" href="/news.html">
											<span class="text-underlined">News Archive</span>
										</a>
									</div>
								</li>
								<li>
									<a href="/price.html" class="transition">
										<span class="text-underlined">Prices</span>
									</a>
								</li>
								<li>
									<a href="/downloads.html" class="transition">
										<span class="text-underlined">Documents</span>
									</a>
								</li>
								<li>
									<a href="/contacts.html" class="transition">
										<span class="text-underlined">Contacts</span>
									</a>
								</li>
							</ul>
						</div>

						<div class="desktop">
							<ul class="nav__menu row">
								<li>
									<a href="/" class="transition">
										<span class="text-underlined">Home</span>
									</a>
								</li>
								<li>
									<div class="nav__line"></div>
								</li>
								<li>
									<a href="/about.html" class="transition">
										<span class="text-underlined">About Us</span>
									</a>
								</li>
								<li>
									<div class="nav__line"></div>
								</li>
								<li class="expandable">
									<span class="text-underlined">News</span>
									<div class="dropdown-content">
										<div class="container">
											<a class="transition" href="/news.html">
												<span class="text-underlined">Latest News</span>
											</a>
											<a class="transition" href="/news.html">
												<span class="text-underlined">News Archive</span>
											</a>
										</div>
									</div>
								</li>
								<li>
									<div class="nav__line"></div>
								</li>
								<li>
									<a href="/price.html" class="transition">
										<span class="text-underlined">Prices</span>
									</a>
								</li>
								<li>
									<div class="nav__line"></div>
								</li>
								<li>
									<a href="/downloads.html" class="transition">
										<span class="text-underlined">Documents</span>
									</a>
								</li>
								<li>
									<div class="nav__line"></div>
								</li>
								<li>
									<a href="/contacts.html" class="transition">
										<span class="text-underlined">Contacts</span>
									</a>
								</li>
							</ul>
						</div>
					</nav>

				</div>
			</header>


			<section class="content">
				<div class="news-page__background">
					<h1>News</h1>
					<h2>Stay updated with our latest news,
						<br>promotions, and competitions</h2>

					<div class="news-page__cards__container container">

						<div class="news-page__cards__container__item">
							<a href="./news/b6.html" class="transition">
								<div>
									<img src="../../assets/images/compet6.jpg" alt="Large Multi-Sport Weekend in Angarsk on July 22 and 23">
									<h3>Large Multi-Sport Weekend in Angarsk on July 22 and 23</h6>
									<p class="news-page__cards__container__item__date">15.07.2023</p>
									<p>Celsius BAM Triathlon 2023</p>
								</div>
								<span class="text-underlined">Read More...</span>
							</a>
						</div>

						<div class="news-page__cards__container__item">
							<a href="./news/b5.html" class="transition">
								<div>
									<img src="../../assets/images/compet1.jpg" alt="Ministry of Sports of Irkutsk Oblast">
									<h6>Ministry of Sports of Irkutsk Oblast</h6>
									<p class="news-page__cards__container__item__date">07.07.2023</p>
									<p></p>
								</div>
								<span class="text-underlined">Read More...</span>
							</a>
						</div>

						<div class="news-page__cards__container__item">
							<a href="./news/b4.html" class="transition">
								<div>
									<img src="../../assets/images/compet5.jpg" alt="Results of Day 1 of the 3rd Stage of the 2023 Swimming Cup">
									<h6>Results of Day 1 of the 3rd Stage of the 2023 Swimming Cup</h6>
									<p class="news-page__cards__container__item__date">06.07.2023</p>
									<p>Irkutsk. July 4, 2023</p>
								</div>
								<span class="text-underlined">Read More...</span>
							</a>
						</div>

						<div class="news-page__cards__container__item">
							<a href="./news/b3.html" class="transition">
								<div>
									<img src="../../assets/images/compet3.jpg" alt="Broadcast of the 2nd day of the 3rd stage of the Russian Swimming Cup.">
									<h6>Broadcast of the 2nd day of the 3rd stage of the Russian Swimming Cup.</h6>
									<p class="news-page__cards__container__item__date">06.07.2023</p>
									<p>Irkutsk. July 5, 2023</p>
								</div>
								<span class="text-underlined">Read More...</span>
							</a>
						</div>

						<div class="news-page__cards__container__item">
							<a href="./news/b2.html" class="transition">
								<div>
									<img src="../../assets/images/compet6.jpg" alt="Results of the 2nd day of the 3rd stage of the Russian Swimming Cup">
									<h6>Results of the 2nd day of the 3rd stage of the Russian Swimming Cup</h6>
									<p class="news-page__cards__container__item__date">06.07.2023</p>
									<p>Irkutsk. July 5, 2023</p>
								</div>
								<span class="text-underlined">Read More...</span>
							</a>
						</div>

						<div class="news-page__cards__container__item">
							<a href="./news/b1.html" class="transition">
								<div>
									<img src="../../assets/images/compet7.jpg" alt="Results of the 2nd day of the 3rd stage of the Russian Swimming Cup.">
									<h6>Results of the 2nd day of the 3rd stage of the Russian Swimming Cup.</h6>
									<p class="news-page__cards__container__item__date">06.07.2023</p>
									<p>Irkutsk. July 5, 2023</p>
								</div>
								<span class="text-underlined">Read More...</span>
							</a>
						</div>

						<div class="news-page__cards__container__item">
							<a href="./news/a9.html" class="transition">
								<div>
									<img src="../../assets/images/compet8.jpg" alt="Results of the 2nd day of the 3rd stage of the Russian Swimming Cup">
									<h6>Results of the 2nd day of the 3rd stage of the Russian Swimming Cup</h6>
									<p class="news-page__cards__container__item__date">06.07.2023</p>
									<p>Irkutsk. July 5, 2023</p>
								</div>
								<span class="text-underlined">Read More...</span>
							</a>
						</div>

						<div class="news-page__cards__container__item">
							<a href="./news/a8.html" class="transition">
								<div>
									<img src="../../assets/images/compet2.jpg" alt="Results of the 1st day of the 3rd stage of the Russian Swimming Cup">
									<h6>Results of the 1st day of the 3rd stage of the Russian Swimming Cup</h6>
									<p class="news-page__cards__container__item__date">04.07.2023</p>
									<p></p>
								</div>
								<span class="text-underlined">Read More...</span>
							</a>
						</div>

						<div class="news-page__cards__container__item">
							<a href="./news/a7.html" class="transition">
								<div>
									<img src="../../assets/images/compet3.jpg" alt="Results of the 1st day of the 3rd stage of the Russian Swimming Cup">
									<h6>Results of the 1st day of the 3rd stage of the Russian Swimming Cup</h6>
									<p class="news-page__cards__container__item__date">05.07.2023</p>
									<p>Irkutsk. July 4, 2023</p>
								</div>
								<span class="text-underlined">Read More...</span>
							</a>
						</div>

						<div class="news-page__cards__container__item">
							<a href="./news/a6.html" class="transition">
								<div>
									<img src="../../assets/images/compet4.jpg" alt="Results of the 1st day of the 3rd stage of the Russian Swimming Cup">
									<h6>Results of the 1st day of the 3rd stage of the Russian Swimming Cup</h6>
									<p class="news-page__cards__container__item__date">05.07.2023</p>
									<p>Irkutsk. July 4, 2023</p>
								</div>
								<span class="text-underlined">Read More...</span>
							</a>
						</div>

						<div class="news-page__cards__container__item">
							<a href="./news/a5.html" class="transition">
								<div>
									<img src="../../assets/images/3-stage.jpg" alt="Tomorrow, July 4, at 10:00 local time (05:00 MSK), the 3rd stage of the Russian Swimming Cup starts in Irkutsk">
									<h6>Tomorrow, July 4, at 10:00 local time (05:00 MSK), the 3rd stage of the Russian Swimming Cup starts in Irkutsk</h6>
									<p class="news-page__cards__container__item__date">03.07.2023</p>
									<p></p>
								</div>
								<span class="text-underlined">Read More...</span>
							</a>
						</div>

						<div class="news-page__cards__container__item">
							<a href="./news/a4.html" class="transition">
								<div>
									<img src="../../assets/images/compet1.jpg" alt="The stage of the Russian Swimming Cup will be held in Irkutsk for the first time">
									<h6>The stage of the Russian Swimming Cup will be held in Irkutsk for the first time</h6>
									<p class="news-page__cards__container__item__date">01.07.2023</p>
									<p></p>
								</div>
								<span class="text-underlined">Read More...</span>
							</a>
						</div>

						<div class="news-page__cards__container__item">
							<a href="./news/a3.html" class="transition">
								<div>
									<img src="../../assets/images/sportsmen.jpg" alt="Competitions in memory of Maria Tsukanova">
									<h6>Competitions in memory of Maria Tsukanova</h6>
									<p class="news-page__cards__container__item__date">02.05.2023</p>
									<p>Traditional swimming competitions dedicated to the memory of Hero of the Soviet Union Maria Tsukanova will take place on May 4-5 at the Crystal swimming pool.</p>
								</div>
								<span class="text-underlined">Read More...</span>
							</a>
						</div>

						<div class="news-page__cards__container__item">
							<a href="./news/a2.html" class="transition">
								<div>
									<img src="../../assets/images/ontheback.jpg" alt="BEST MOMENTS of the 'First Races' Competition on April 22, 2023">
									<h6>BEST MOMENTS of the 'First Races' Competition on April 22, 2023</h6>
									<p class="news-page__cards__container__item__date">28.04.2023</p>
									<p>Remember how it was and keep the best moments of the competitions for yourself! Follow the link and find yourself in the photos.</p>
								</div>
								<span class="text-underlined">Read More...</span>
							</a>
						</div>

						<div class="news-page__cards__container__item">
							<a href="./news/a1.html" class="transition">
								<div>
									<img src="../../assets/images/news_compet.jpg" alt="Competitions tomorrow, April 22!">
									<h6>Competitions tomorrow, April 22!</h6>
									<p class="news-page__cards__container__item__date">21.04.2023</p>
									<p>Information about the competition program.</p>
								</div>
								<span class="text-underlined">Read More...</span>
							</a>
						</div>

					</div>
				</div>
			</section>


			<footer>
				<div class="footer__menu container">
					<div class="footer__menu_left-block">
						<h6>Federation of Swimming of Irkutsk Region "Baikal"</h6>
						<p>We instill in children the desire to win, discipline, endurance, and a sports spirit.
						</p>
					</div>
					<div class="footer__line"></div>
					<div class="footer__menu_right-block">

						<a href="https://go.2gis.com/akm0i" target="_blank">
							<div class="row footer__contacts__block">
								<img src="../../assets/images/icons/location1_icon.svg" alt="address" class="footer__icon">
								<p class="footer__contacts__block__text text-underlined">664050, Irkutsk Region, Irkutsk, ul. Baikalskaya, 253/1</p>
							</div>
						</a>

						<a href="tel:+7111111111111" target="_blank">
							<div class="row footer__contacts__block">
								<img src="../../assets/images/icons/phone_icon.svg" alt="phone" class="footer__icon">
								<p class="footer__contacts__block__text text-underlined">+7 111111111111</p>
							</div>
						</a>

						<a href="mailto:email_address@gmail.com" target="_blank">
							<div class="row footer__contacts__block">
								<img src="../../assets/images/icons/envelope_mail_icon.svg" alt="email" class="footer__icon">
								<p class="footer__contacts__block__text text-underlined">email_address@gmail.com</p>
							</div>
						</a>

					</div>
				</div>

				<div class="footer__rights">
					<div class="footer__rights__container row container">
						Federation of Swimming of Irkutsk Region<br>Copyright © 2023 All rights reserved
						<div class="row">

							<a href="https://instagram.com/swimming.irkutsk?igshid=NTc4MTIwNjQ2YQ==" target="_blank">
								<img src="../../assets/images/icons/instagram_icon.svg" class="footer__rights__icon" alt="instagram">
							</a>

							<a href="https://t.me/fpiobaikal" target="_blank">
								<img src="../../assets/images/icons/telegram_icon.svg" class="footer__rights__icon" alt="telegram">
							</a>

							<a href="https://vk.com" target="_blank">
								<img src="../../assets/images/icons/vk_icon.svg" class="footer__rights__icon" alt="vkontakte">
							</a>

						</div>
					</div>
				</div>
			</footer>


		</div>
	</body>
</html>
