{% extends "../_layout.twig" %}
{% set pageTitle = 'Price Page' %}

{% set prices = [
	{
		header: "Monthly Subscription - One Lesson per Week",
		lessons_per_week: 'One lesson per week',
		lessons_per_month: 4,
		price: "2.200"
	}, {
		header: "Monthly Subscription - Two Lessons per Week",
		lessons_per_week: "Two lessons per week",
		lessons_per_month: 8,
		price: "4.000"
	}, {
		header: "Monthly Subscription - Three Lessons per Week",
		lessons_per_week: "Three lessons per week",
		lessons_per_month: 12,
		price: "5.400"
	}
] %}

{% block header %}
	{% include '../layouts/_header.twig' %}
{% endblock %}

{% block content %}
	<section class="content">
		<div class="price-page__background">
			<div class="container price-page__header-wrapper">
				<h1>Prices</h1>
				<h2>Choose your subscription and sign up for the first training session</h2>
			</div>

			<div class="price-page__container container">
				{% for price in prices %}
					<a href="/contacts.html" class="transition price-page__container__item">
						<h3>{{ price.header }}</h3>
						<p>{{ price.lessons_per_month }}
							group lessons on average per month</p>
						<h4>{{ price.price }}
							RUB</h4>
						<ul>
							<li>{{ price.lessons_per_week }}</li>
							<li>Group training</li>
							<li>Introduction to the coach</li>
							<li>Consultation</li>
						</ul>
						<button>Sign Up</button>
					</a>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}

{% block footer %}
	{% include '../layouts/_footer.twig' %}
{% endblock %}
