{% extends "../_layout.twig" %}
{% set pageTitle = 'Price Page' %}

{% set prices = [
	{
		header: "Абонемент месячный одно занятие в неделю",		
		lessons_per_week: 'Одно занятие в неделю',
		lessons_per_month: 4,
		price: "2 200"
	}, {
		header: "Абонемент месячный два занятия в неделю",		
		lessons_per_week: "Два занятия в неделю",
		lessons_per_month: 8,
		price: "4 000"
	}, {
		header: "Абонемент месячный три занятия в неделю",		
		lessons_per_week: "Tри занятия в неделю",
		lessons_per_month: 12,
		price: "5 400"
	}
]%}

{% block header %}
	{% include '../layouts/_header.twig' %}
{% endblock %}

{% block content %}
	<section class="content">
		<div class="price-page__background">
			<div class="container">
				<h1>Стоимость занятий</h1>
				<h3>Выберите свой абонемент и запишитесь на первую тренировку</h3>
			</div>

			<div class="price-page__container container">
				{% for price in prices %}
					<a href="/contacts.html" class=" transition price-page__container__item">
						<h4>{{ price.header }}</h4>
						<p>{{ price.lessons_per_month }}
							групповых занятий в среднем в месяц</p>
						<h2>{{ price.price }}
							руб.</h2>
						<ul>
							<li>{{ price.lessons_per_week }}</li>
							<li>Групповые тренировки</li>
							<li>Знакомство с тренером</li>
							<li>Консультация</li>
						</ul>
						<button>Записаться</button>
					</a>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}

{% block footer %}
	{% include '../layouts/_footer.twig' %}
{% endblock %}
