<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="/assets/css/main.css">
		<script type='module' defer src="/assets/js/common.js"></script>
		<title>News Item page</title>

	</head>
	<body>
		<div id="root">
			<div class="theme-switcher__container">
				<label for="theme-switcher">
					<input type="checkbox" id="theme-switcher">
				</label>
			</div>
			<div class="overlay"></div>
			
	<header class="header">
	<div class="header__container container">
		<a href="index.html">
			<img src="../../assets/images/logo.png" class='header__logo' alt="Logo">
		</a>
		<nav>
	<div class="mobile">
		<button aria-label="mobile menu" class="">
			<span></span>
			<span></span>
			<span></span>
		</button>
		<ul class="nav__menu_mobile">
			<li>
				<a href="/">
					<span class="text-underlined">Главная</span>
				</a>
			</li>
			<li>
				<a href="/about.html" class="transition">
					<span class="text-underlined">О нас</span>
				</a>
			</li>
			<li class="expandable">
				<div class="row">
					<span class="text-underlined">Новости</span>
				</div>

				<div class="dropdown-content">
					<a class="transition" href="/news.html">
						<span class="text-underlined">Последние Новости</span>
					</a>
					<a class="transition" href="/news.html">
						<span class="text-underlined">Архив новостей</span>
					</a>
				</div>
			</li>
			<li>
				<a href="/price.html" class="transition">
					<span class="text-underlined">Стоимость</span>
				</a>
			</li>
			<li>
				<a href="/downloads.html" class="transition">
					<span class="text-underlined">Документы</span>
				</a>
			</li>
			<li>
				<a href="/contacts.html" class="transition">
					<span class="text-underlined">Контакты</span>
				</a>
			</li>
		</ul>
	</div>

	<div class="desktop">
		<ul class="nav__menu row">
			<li>
				<a href="/" class="transition">
					<span class="text-underlined">Главная</span>
				</a>
			</li>
			<li>
				<div class="nav__line"></div>
			</li>
			<li>
				<a href="/about.html" class="transition">
					<span class="text-underlined">О нас</span>
				</a>
			</li>
			<li>
				<div class="nav__line"></div>
			</li>
			<li class="expandable">
				<span class="text-underlined">Новости</span>
				<div class="dropdown-content">
					<div class="container">
						<a class="transition" href="/news.html">
							<span class="text-underlined">Последние Новости</span>
						</a>
						<a class="transition" href="/news.html">
							<span class="text-underlined">Архив новостей</span>
						</a>
					</div>
				</div>
			</li>
			<li>
				<div class="nav__line"></div>
			</li>
			<li>
				<a href="/price.html" class="transition">
					<span class="text-underlined">Стоимость</span>
				</a>
			</li>
			<li>
				<div class="nav__line"></div>
			</li>
			<li>
				<a href="/downloads.html" class="transition">
					<span class="text-underlined">Документы</span>
				</a>
			</li>
			<li>
				<div class="nav__line"></div>
			</li>
			<li>
				<a href="/contacts.html" class="transition">
					<span class="text-underlined">Контакты</span>
				</a>
			</li>
		</ul>
	</div>
</nav>

	</div>
</header>



			
	<section class="content">
		<div class="newsDetailed-page__background">
			<div class="newsDetailed-page__container container">
				<h1>Уже завтра 22 апреля соревнования!</h1>
				<img src="../../assets/images/news_compet.jpg" alt="Уже завтра 22 апреля соревнования!">
				<p><p><b>Информация по программе соревнований: </b></p>
		<p>Первый поток возрастная группа 2015 г.р и 2016г.р. и младше (спортсмены/любители) Проходит в верхний гардероб на 2-м этаже. (вход со второго этажа) с 9.40 2015 г.р, 2016г.р. и младше (дети которые выступают на дистанции 25м) заходит в раздевалки номер 1 и 2 и выходит в чашу на формирование заплывов и подготовку к параду (родители проходят на трибуны), в 10.00 парад, старт в 10.10. </p>
		<p>	Дети выступают на дистанции 50 метров проходят с родителями на трибуны и ожидает приглашения главного судьи. После приглашения дети спускаются в раздевалки 1 и 2 и также выходят на формирование заплывов (старт по готовности) . Предварительное время окончания 1 сессии (1 поток) 11.30*. </p>
		<p>Награждение после программы соревнований 2015 г.р и 2016г.р. и младше по готовности.</p>
		<p>Второй поток возрастная группа 2014 г.р (спортсмены/любители) Проходит также в верхний гардероб на 2-м этаже. (вход со второго этажа) Разминка с 11.35 до 11.55 (заход в раздевалки номер 3 и 4 в 11-30), старт в 12.00*. Награждение будет проводиться после программы соревнований по готовности. Предварительное время окончания 2 сессии (2 поток) 13.30*.</p>
		<p>*Время указано предварительное</p>
		<p>Формирование заплывов проходит между 3 и 4 раздевалками (ориентир на часы со стороны кафе).</p>
		<p>Родители должны быть в сменной обуви(желательно) либо бахилах.</p>
		<p>Детям иметь дополнительную форму для переодевания на время соревнований (шорты, футболка/спорт костюм).</p>
		<p>Родители проходят и находятся на трибунах, в раздевалки родители не заходят.</p>
		<p>Просьба не кормить детей перед самыми соревнованиями и накануне не употреблять жирную и вредную пищу, с собой рекомендуем взять воду и легкий перекус – например банан. С собой в раздевалку еду давать запрещено.</p>
		<p>Напомните детям сходить в туалет перед стартами. Также обратите внимание своих детей на дисциплину и бережное отношение к имуществу бассейна, за нарушение правил порядка бассейна организатор соревнований в праве отстранить ребенка от соревнований и аннулировать результат. Для упрощения детям можно под одеждой уже одеть плавательный инвентарь (плавки/купальник).</p>
		<p>Будут стоять волонтеры на входе и в раздевалках помогать детям.</p></p>
				<a href="/news.html" class="text-underlined transition">Вернуться к новостям</a>
			</div>
		</div>
	</section>


			
	

<footer>
	<div class="footer__menu container">
		<div class="footer__menu_left-block">
			<h6>Федерация плавания Иркутской области «Байкал»</h6>
			<p>Мы воспитываем в детях стремление к победе, дисциплину, выносливость и спортивный дух.
			</p>
		</div>
		<div class="footer__line"></div>
		<div class="footer__menu_right-block">
			
				<a href="https://go.2gis.com/akm0i" target="_blank">
					<div class="row footer__contacts__block">
						<img src="../../assets/images/icons/location1_icon.svg" alt="address" class="footer__icon">
						<div class="footer__contacts__block__text text-underlined">664050, Иркутская область, г.Иркутск, ул.Байкальская, 253/1</div>
					</div>
				</a>
			
				<a href="tel:+7111111111111" target="_blank">
					<div class="row footer__contacts__block">
						<img src="../../assets/images/icons/phone_icon.svg" alt="phone" class="footer__icon">
						<div class="footer__contacts__block__text text-underlined">+7 111111111111</div>
					</div>
				</a>
			
				<a href="mailto:email_address@gmail.com" target="_blank">
					<div class="row footer__contacts__block">
						<img src="../../assets/images/icons/envelope_mail_icon.svg" alt="email" class="footer__icon">
						<div class="footer__contacts__block__text text-underlined">email_address@gmail.com</div>
					</div>
				</a>
			
		</div>
	</div>

	<div class="footer__rights">
		<div class="footer__rights__container row container">
			Федерация плавания Иркутской области<br>Copyright © 2023 Все права защищены
			<div class="row">
				
					<a href="https://instagram.com/swimming.irkutsk?igshid=NTc4MTIwNjQ2YQ==" target="_blank">
						<img src="../../assets/images/icons/instagram_icon.svg" class="footer__rights__icon " alt="instagram">
					</a>
				
					<a href="https://t.me/fpiobaikal" target="_blank">
						<img src="../../assets/images/icons/telegram_icon.svg" class="footer__rights__icon " alt="telegram">
					</a>
				
					<a href="https://vk.com" target="_blank">
						<img src="../../assets/images/icons/vk_icon.svg" class="footer__rights__icon " alt="vkontakte">
					</a>
				
			</div>
		</div>
	</div>
</footer>


		</div>
	</body>
</html>
