<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="/assets/css/main.css">
		<script type='module' defer src="/assets/js/common.js"></script>
		<title>News Item page</title>

	</head>
	<body>
		<div id="root">
			<div class="theme-switcher__container">
				<label for="theme-switcher">
					<input type="checkbox" id="theme-switcher">
				</label>
			</div>
			<div class="overlay"></div>
			
	<header class="header">
	<div class="header__container container">
		<a href="index.html">
			<img src="../../assets/images/logo.png" class='header__logo' alt="Logo">
		</a>
		<nav>
	<div class="mobile">
		<button aria-label="mobile menu" class="">
			<span></span>
			<span></span>
			<span></span>
		</button>
		<ul class="nav__menu_mobile">
			<li>
				<a href="/">
					<span class="text-underlined">Home</span>
				</a>
			</li>
			<li>
				<a href="/about.html" class="transition">
					<span class="text-underlined">About Us</span>
				</a>
			</li>
			<li class="expandable">
				<div class="row">
					<span class="text-underlined">News</span>
				</div>

				<div class="dropdown-content">
					<a class="transition" href="/news.html">
						<span class="text-underlined">Latest News</span>
					</a>
					<a class="transition" href="/news.html">
						<span class="text-underlined">News Archive</span>
					</a>
				</div>
			</li>
			<li>
				<a href="/price.html" class="transition">
					<span class="text-underlined">Prices</span>
				</a>
			</li>
			<li>
				<a href="/downloads.html" class="transition">
					<span class="text-underlined">Documents</span>
				</a>
			</li>
			<li>
				<a href="/contacts.html" class="transition">
					<span class="text-underlined">Contacts</span>
				</a>
			</li>
		</ul>
	</div>

	<div class="desktop">
		<ul class="nav__menu row">
			<li>
				<a href="/" class="transition">
					<span class="text-underlined">Home</span>
				</a>
			</li>
			<li>
				<div class="nav__line"></div>
			</li>
			<li>
				<a href="/about.html" class="transition">
					<span class="text-underlined">About Us</span>
				</a>
			</li>
			<li>
				<div class="nav__line"></div>
			</li>
			<li class="expandable">
				<span class="text-underlined">News</span>
				<div class="dropdown-content">
					<div class="container">
						<a class="transition" href="/news.html">
							<span class="text-underlined">Latest News</span>
						</a>
						<a class="transition" href="/news.html">
							<span class="text-underlined">News Archive</span>
						</a>
					</div>
				</div>
			</li>
			<li>
				<div class="nav__line"></div>
			</li>
			<li>
				<a href="/price.html" class="transition">
					<span class="text-underlined">Prices</span>
				</a>
			</li>
			<li>
				<div class="nav__line"></div>
			</li>
			<li>
				<a href="/downloads.html" class="transition">
					<span class="text-underlined">Documents</span>
				</a>
			</li>
			<li>
				<div class="nav__line"></div>
			</li>
			<li>
				<a href="/contacts.html" class="transition">
					<span class="text-underlined">Contacts</span>
				</a>
			</li>
		</ul>
	</div>
</nav>

	</div>
</header>



			
	<section class="content">
		<div class="newsDetailed-page__background">
			<div class="newsDetailed-page__container container">
				<h1>Competitions tomorrow, April 22!</h1>
				<img src="../../assets/images/news_compet.jpg" alt="Competitions tomorrow, April 22!">
				<p><p><b>Information about the competition program:</b></p>

		<p>The first group of age 2015 and 2016 and younger (athletes/amateurs) will gather in the upper locker room on the 2nd floor (entrance from the second floor) at 9:40. Children born in 2015, 2016, and younger (children competing at the 25m distance) will enter changing rooms 1 and 2 and then go to the pool for formation and preparation for the parade (parents go to the stands). The parade starts at 10:00, and the races begin at 10:10.</p>
		<p>Children competing at the 50m distance will go with their parents to the stands and wait for the chief referee's invitation. After the invitation, children will go to changing rooms 1 and 2 and then to the pool for formation (start when ready). The preliminary end time for the first session (first group) is 11:30*.</p>
		<p>Awards for the 2015 and 2016 age group and younger will be given upon readiness.</p>
		<p>The second group of age 2014 (athletes/amateurs) will also gather in the upper locker room on the 2nd floor (entrance from the second floor). Warm-up will be from 11:35 to 11:55 (enter changing rooms 3 and 4 at 11:30), and the races will start at 12:00*. Awards will be given upon readiness after the competition program. The preliminary end time for the second session (second group) is 13:30*.</p>
		<p>*Times are approximate.</p>
		<p>Formation of heats takes place between changing rooms 3 and 4 (look for clocks from the café side).</p>
		<p>Parents should wear clean shoes or shoe covers.</p>
		<p>Children should have extra clothes to change into during the competition (shorts, t-shirt/sports suit).</p>
		<p>Parents should stay in the stands and are not allowed in the changing rooms.</p>
		<p>Please do not feed the children just before the competitions and avoid giving them fatty and unhealthy food the day before. It is recommended to bring water and a light snack, like a banana. Giving food in the changing rooms is prohibited.</p>
		<p>Remind the children to use the restroom before the races. Also, pay attention to your children's discipline and respectful treatment of the pool property. The organizers have the right to disqualify a child and cancel their result for violating the pool rules. To simplify things for the children, they can wear their swimwear under their clothes (swimming trunks/swimsuits).</p>
		<p>Volunteers will be present at the entrance and in the changing rooms to assist the children.</p></p>
				<a href="/news.html" class="text-underlined transition">Back to News</a>
			</div>
		</div>
	</section>


			
	



<footer>
	<div class="footer__menu container">
		<div class="footer__menu_left-block">
			<h6>Federation of Swimming of Irkutsk Oblast "Baikal"</h6>
			<p>We instill in children the desire to win, discipline, endurance, and a sports spirit.
			</p>
		</div>
		<div class="footer__line"></div>
		<div class="footer__menu_right-block">
			
				<a href="https://go.2gis.com/akm0i" target="_blank">
					<div class="row footer__contacts__block">
						<img src="../../assets/images/icons/location1_icon.svg" alt="address" class="footer__icon">
						<div class="footer__contacts__block__text text-underlined">664050, Irkutsk Oblast, Irkutsk, ul. Baikalskaya, 253/1</div>
					</div>
				</a>
			
				<a href="tel:+7111111111111" target="_blank">
					<div class="row footer__contacts__block">
						<img src="../../assets/images/icons/phone_icon.svg" alt="phone" class="footer__icon">
						<div class="footer__contacts__block__text text-underlined">+7 111111111111</div>
					</div>
				</a>
			
				<a href="mailto:email_address@gmail.com" target="_blank">
					<div class="row footer__contacts__block">
						<img src="../../assets/images/icons/envelope_mail_icon.svg" alt="email" class="footer__icon">
						<div class="footer__contacts__block__text text-underlined">email_address@gmail.com</div>
					</div>
				</a>
			
		</div>
	</div>

	<div class="footer__rights">
		<div class="footer__rights__container row container">
			Federation of Swimming of Irkutsk Oblast<br>Copyright © 2023 All rights reserved
			<div class="row">
				
					<a href="https://instagram.com/swimming.irkutsk?igshid=NTc4MTIwNjQ2YQ==" target="_blank">
						<img src="../../assets/images/icons/instagram_icon.svg" class="footer__rights__icon" alt="instagram">
					</a>
				
					<a href="https://t.me/fpiobaikal" target="_blank">
						<img src="../../assets/images/icons/telegram_icon.svg" class="footer__rights__icon" alt="telegram">
					</a>
				
					<a href="https://vk.com" target="_blank">
						<img src="../../assets/images/icons/vk_icon.svg" class="footer__rights__icon" alt="vkontakte">
					</a>
				
			</div>
		</div>
	</div>
</footer>


		</div>
	</body>
</html>
