<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="/assets/css/main.css">
		<script type='module' defer src="/assets/js/common.js"></script>
		<title>News Item page</title>

	</head>
	<body>
		<div id="root">
			<div class="theme-switcher__container">
				<label for="theme-switcher">
					<input type="checkbox" id="theme-switcher">
				</label>
			</div>
			<div class="overlay"></div>
			
	<header class="header">
	<div class="header__container container">
		<a href="index.html">
			<img src="../../assets/images/logo.png" class='header__logo' alt="Logo">
		</a>
		<nav>
	<div class="mobile">
		<button aria-label="mobile menu" class="">
			<span></span>
			<span></span>
			<span></span>
		</button>
		<ul class="nav__menu_mobile">
			<li>
				<a href="/">
					<span class="text-underlined">Home</span>
				</a>
			</li>
			<li>
				<a href="/about.html" class="transition">
					<span class="text-underlined">About Us</span>
				</a>
			</li>
			<li class="expandable">
				<div class="row">
					<span class="text-underlined">News</span>
				</div>

				<div class="dropdown-content">
					<a class="transition" href="/news.html">
						<span class="text-underlined">Latest News</span>
					</a>
					<a class="transition" href="/news.html">
						<span class="text-underlined">News Archive</span>
					</a>
				</div>
			</li>
			<li>
				<a href="/price.html" class="transition">
					<span class="text-underlined">Prices</span>
				</a>
			</li>
			<li>
				<a href="/downloads.html" class="transition">
					<span class="text-underlined">Documents</span>
				</a>
			</li>
			<li>
				<a href="/contacts.html" class="transition">
					<span class="text-underlined">Contacts</span>
				</a>
			</li>
		</ul>
	</div>

	<div class="desktop">
		<ul class="nav__menu row">
			<li>
				<a href="/" class="transition">
					<span class="text-underlined">Home</span>
				</a>
			</li>
			<li>
				<div class="nav__line"></div>
			</li>
			<li>
				<a href="/about.html" class="transition">
					<span class="text-underlined">About Us</span>
				</a>
			</li>
			<li>
				<div class="nav__line"></div>
			</li>
			<li class="expandable">
				<span class="text-underlined">News</span>
				<div class="dropdown-content">
					<div class="container">
						<a class="transition" href="/news.html">
							<span class="text-underlined">Latest News</span>
						</a>
						<a class="transition" href="/news.html">
							<span class="text-underlined">News Archive</span>
						</a>
					</div>
				</div>
			</li>
			<li>
				<div class="nav__line"></div>
			</li>
			<li>
				<a href="/price.html" class="transition">
					<span class="text-underlined">Prices</span>
				</a>
			</li>
			<li>
				<div class="nav__line"></div>
			</li>
			<li>
				<a href="/downloads.html" class="transition">
					<span class="text-underlined">Documents</span>
				</a>
			</li>
			<li>
				<div class="nav__line"></div>
			</li>
			<li>
				<a href="/contacts.html" class="transition">
					<span class="text-underlined">Contacts</span>
				</a>
			</li>
		</ul>
	</div>
</nav>

	</div>
</header>



			
	<section class="content">
		<div class="newsDetailed-page__background">
			<div class="newsDetailed-page__container container">
				<h1>Results of the 2nd day of the 3rd stage of the Russian Swimming Cup</h1>
				<img src="../../assets/images/compet8.jpg" alt="Results of the 2nd day of the 3rd stage of the Russian Swimming Cup">
				<p><p><b>50 m Butterfly – Men</b></p>

		<p>KOSTIN Oleg (Nizhny Novgorod Oblast) – 23.10</p>
		<p>SHEVLYAKOV Roman (St. Petersburg) – 23.50</p>
		<p>ZHIKHAREV Pyotr (Moscow) – 23.79</p>
		<p><b>800 m Freestyle – Women</b></p>
		<p>KOZUBOVSKAYA Elizaveta (Omsk Oblast) – 9:01.32</p>
		<p>ZUBASCHENKO Anastasiya (Khabarovsk Krai) – 9:40.30</p>
		<p>ZELDMAN Emiliya (Khabarovsk Krai) – 9:41.79</p></p>
				<a href="/news.html" class="text-underlined transition">Back to News</a>
			</div>
		</div>
	</section>


			
	



<footer>
	<div class="footer__menu container">
		<div class="footer__menu_left-block">
			<h6>Federation of Swimming of Irkutsk Region "Baikal"</h6>
			<p>We instill in children the desire to win, discipline, endurance, and a sports spirit.
			</p>
		</div>
		<div class="footer__line"></div>
		<div class="footer__menu_right-block">
			
				<a href="https://go.2gis.com/akm0i" target="_blank">
					<div class="row footer__contacts__block">
						<img src="../../assets/images/icons/location1_icon.svg" alt="address" class="footer__icon">
						<p class="footer__contacts__block__text text-underlined">664050, Irkutsk Region, Irkutsk, ul. Baikalskaya, 253/1</p>
					</div>
				</a>
			
				<a href="tel:+7111111111111" target="_blank">
					<div class="row footer__contacts__block">
						<img src="../../assets/images/icons/phone_icon.svg" alt="phone" class="footer__icon">
						<p class="footer__contacts__block__text text-underlined">+7 111111111111</p>
					</div>
				</a>
			
				<a href="mailto:email_address@gmail.com" target="_blank">
					<div class="row footer__contacts__block">
						<img src="../../assets/images/icons/envelope_mail_icon.svg" alt="email" class="footer__icon">
						<p class="footer__contacts__block__text text-underlined">email_address@gmail.com</p>
					</div>
				</a>
			
		</div>
	</div>

	<div class="footer__rights">
		<div class="footer__rights__container row container">
			Federation of Swimming of Irkutsk Region<br>Copyright © 2023 All rights reserved
			<div class="row">
				
					<a href="https://instagram.com/swimming.irkutsk?igshid=NTc4MTIwNjQ2YQ==" target="_blank">
						<img src="../../assets/images/icons/instagram_icon.svg" class="footer__rights__icon" alt="instagram">
					</a>
				
					<a href="https://t.me/fpiobaikal" target="_blank">
						<img src="../../assets/images/icons/telegram_icon.svg" class="footer__rights__icon" alt="telegram">
					</a>
				
					<a href="https://vk.com" target="_blank">
						<img src="../../assets/images/icons/vk_icon.svg" class="footer__rights__icon" alt="vkontakte">
					</a>
				
			</div>
		</div>
	</div>
</footer>


		</div>
	</body>
</html>
