<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="/assets/css/main.css">
		<script type='module' defer src="/assets/js/common.js"></script>
		<title>News Item page</title>

	</head>
	<body>
		<div id="root">
			<div class="theme-switcher__container">
				<label for="theme-switcher">
					<input type="checkbox" id="theme-switcher">
				</label>
			</div>
			<div class="overlay"></div>
			
	<header class="header">
	<div class="header__container container">
		<a href="index.html">
			<img src="../../assets/images/logo.png" class='header__logo' alt="Logo">
		</a>
		<nav>
	<div class="mobile">
		<button aria-label="mobile menu" class="">
			<span></span>
			<span></span>
			<span></span>
		</button>
		<ul class="nav__menu_mobile">
			<li>
				<a href="/">
					<span class="text-underlined">Home</span>
				</a>
			</li>
			<li>
				<a href="/about.html" class="transition">
					<span class="text-underlined">About Us</span>
				</a>
			</li>
			<li class="expandable">
				<div class="row">
					<span class="text-underlined">News</span>
				</div>

				<div class="dropdown-content">
					<a class="transition" href="/news.html">
						<span class="text-underlined">Latest News</span>
					</a>
					<a class="transition" href="/news.html">
						<span class="text-underlined">News Archive</span>
					</a>
				</div>
			</li>
			<li>
				<a href="/price.html" class="transition">
					<span class="text-underlined">Prices</span>
				</a>
			</li>
			<li>
				<a href="/downloads.html" class="transition">
					<span class="text-underlined">Documents</span>
				</a>
			</li>
			<li>
				<a href="/contacts.html" class="transition">
					<span class="text-underlined">Contacts</span>
				</a>
			</li>
		</ul>
	</div>

	<div class="desktop">
		<ul class="nav__menu row">
			<li>
				<a href="/" class="transition">
					<span class="text-underlined">Home</span>
				</a>
			</li>
			<li>
				<div class="nav__line"></div>
			</li>
			<li>
				<a href="/about.html" class="transition">
					<span class="text-underlined">About Us</span>
				</a>
			</li>
			<li>
				<div class="nav__line"></div>
			</li>
			<li class="expandable">
				<span class="text-underlined">News</span>
				<div class="dropdown-content">
					<div class="container">
						<a class="transition" href="/news.html">
							<span class="text-underlined">Latest News</span>
						</a>
						<a class="transition" href="/news.html">
							<span class="text-underlined">News Archive</span>
						</a>
					</div>
				</div>
			</li>
			<li>
				<div class="nav__line"></div>
			</li>
			<li>
				<a href="/price.html" class="transition">
					<span class="text-underlined">Prices</span>
				</a>
			</li>
			<li>
				<div class="nav__line"></div>
			</li>
			<li>
				<a href="/downloads.html" class="transition">
					<span class="text-underlined">Documents</span>
				</a>
			</li>
			<li>
				<div class="nav__line"></div>
			</li>
			<li>
				<a href="/contacts.html" class="transition">
					<span class="text-underlined">Contacts</span>
				</a>
			</li>
		</ul>
	</div>
</nav>

	</div>
</header>



			
	<section class="content">
		<div class="newsDetailed-page__background">
			<div class="newsDetailed-page__container container">
				<h1>Ministry of Sports of Irkutsk Oblast</h1>
				<img src="../../assets/images/compet1.jpg" alt="Ministry of Sports of Irkutsk Oblast">
				<p><p>Sportsmen from the Baikal region won one silver and five bronze medals at the third stage of the Russian Swimming Cup, which took place for the first time on July 4th and 5th at the "Solnechny" water sports complex in Irkutsk. 280 of the country's strongest swimmers competed for 32 sets of awards.</p>

			<p>Andrey Maslov became the silver medalist in the 200-meter individual medley with a time of 2:07.08.</p>
			<p>Kira Kettunen won two bronze medals in the 50-meter breaststroke (33.40) and 100-meter breaststroke (1:13.54).</p>
			<p>Natalia Mozina climbed the third step of the podium, swimming 100 meters butterfly in 1:01.62.</p>
			<p>Dmitry Shibanov finished third in the 50-meter freestyle with a time of 22.94.</p>
			<p>Mikhail Antipov became the bronze medalist in the 100-meter butterfly, with a result of 53.64.</p>
			<p>"I am glad that our swimmers performed well in the first home stage of the Russian Cup, but there is still work to be done. Overall, the competition in Irkutsk went well - athletes, coaches, and referees expressed their gratitude. It is especially pleasing that the President of the All-Russian Swimming Federation, Vladimir Salnikov, praised the organization and work of the Irkutsk team, so next year, the "Solnechny" water sports complex will once again host one of the stages of the country's Cup," said Viktor Ageenko, Honored Coach of Russia, Senior Coach of the Irkutsk Oblast team.</p>
			<p>The final stage of the Russian Swimming Cup will take place from July 25 to 30 in Kazan.</p></p>
				<a href="/news.html" class="text-underlined transition">Back to News</a>
			</div>
		</div>
	</section>


			
	



<footer>
	<div class="footer__menu container">
		<div class="footer__menu_left-block">
			<h6>Federation of Swimming of Irkutsk Region "Baikal"</h6>
			<p>We instill in children the desire to win, discipline, endurance, and a sports spirit.
			</p>
		</div>
		<div class="footer__line"></div>
		<div class="footer__menu_right-block">
			
				<a href="https://go.2gis.com/akm0i" target="_blank">
					<div class="row footer__contacts__block">
						<img src="../../assets/images/icons/location1_icon.svg" alt="address" class="footer__icon">
						<p class="footer__contacts__block__text text-underlined">664050, Irkutsk Region, Irkutsk, ul. Baikalskaya, 253/1</p>
					</div>
				</a>
			
				<a href="tel:+7111111111111" target="_blank">
					<div class="row footer__contacts__block">
						<img src="../../assets/images/icons/phone_icon.svg" alt="phone" class="footer__icon">
						<p class="footer__contacts__block__text text-underlined">+7 111111111111</p>
					</div>
				</a>
			
				<a href="mailto:email_address@gmail.com" target="_blank">
					<div class="row footer__contacts__block">
						<img src="../../assets/images/icons/envelope_mail_icon.svg" alt="email" class="footer__icon">
						<p class="footer__contacts__block__text text-underlined">email_address@gmail.com</p>
					</div>
				</a>
			
		</div>
	</div>

	<div class="footer__rights">
		<div class="footer__rights__container row container">
			Federation of Swimming of Irkutsk Region<br>Copyright © 2023 All rights reserved
			<div class="row">
				
					<a href="https://instagram.com/swimming.irkutsk?igshid=NTc4MTIwNjQ2YQ==" target="_blank">
						<img src="../../assets/images/icons/instagram_icon.svg" class="footer__rights__icon" alt="instagram">
					</a>
				
					<a href="https://t.me/fpiobaikal" target="_blank">
						<img src="../../assets/images/icons/telegram_icon.svg" class="footer__rights__icon" alt="telegram">
					</a>
				
					<a href="https://vk.com" target="_blank">
						<img src="../../assets/images/icons/vk_icon.svg" class="footer__rights__icon" alt="vkontakte">
					</a>
				
			</div>
		</div>
	</div>
</footer>


		</div>
	</body>
</html>
