<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="/assets/css/main.css">
		<script type='module' defer src="/assets/js/common.js"></script>
		<title>News Item page</title>

	</head>
	<body>
		<div id="root">
			<div class="theme-switcher__container">
				<label for="theme-switcher">
					<input type="checkbox" id="theme-switcher">
				</label>
			</div>
			<div class="overlay"></div>
			
	<header class="header">
	<div class="header__container container">
		<a href="index.html">
			<img src="../../assets/images/logo.png" class='header__logo' alt="Logo">
		</a>
		<nav>
	<div class="mobile">
		<button aria-label="mobile menu" class="">
			<span></span>
			<span></span>
			<span></span>
		</button>
		<ul class="nav__menu_mobile">
			<li>
				<a href="/">
					<span class="text-underlined">Главная</span>
				</a>
			</li>
			<li>
				<a href="/about.html" class="transition">
					<span class="text-underlined">О нас</span>
				</a>
			</li>
			<li class="expandable">
				<div class="row">
					<span class="text-underlined">Новости</span>
				</div>

				<div class="dropdown-content">
					<a class="transition" href="/news.html">
						<span class="text-underlined">Последние Новости</span>
					</a>
					<a class="transition" href="/news.html">
						<span class="text-underlined">Архив новостей</span>
					</a>
				</div>
			</li>
			<li>
				<a href="/price.html" class="transition">
					<span class="text-underlined">Стоимость</span>
				</a>
			</li>
			<li>
				<a href="/downloads.html" class="transition">
					<span class="text-underlined">Документы</span>
				</a>
			</li>
			<li>
				<a href="/contacts.html" class="transition">
					<span class="text-underlined">Контакты</span>
				</a>
			</li>
		</ul>
	</div>

	<div class="desktop">
		<ul class="nav__menu row">
			<li>
				<a href="/" class="transition">
					<span class="text-underlined">Главная</span>
				</a>
			</li>
			<li>
				<div class="nav__line"></div>
			</li>
			<li>
				<a href="/about.html" class="transition">
					<span class="text-underlined">О нас</span>
				</a>
			</li>
			<li>
				<div class="nav__line"></div>
			</li>
			<li class="expandable">
				<span class="text-underlined">Новости</span>
				<div class="dropdown-content">
					<div class="container">
						<a class="transition" href="/news.html">
							<span class="text-underlined">Последние Новости</span>
						</a>
						<a class="transition" href="/news.html">
							<span class="text-underlined">Архив новостей</span>
						</a>
					</div>
				</div>
			</li>
			<li>
				<div class="nav__line"></div>
			</li>
			<li>
				<a href="/price.html" class="transition">
					<span class="text-underlined">Стоимость</span>
				</a>
			</li>
			<li>
				<div class="nav__line"></div>
			</li>
			<li>
				<a href="/downloads.html" class="transition">
					<span class="text-underlined">Документы</span>
				</a>
			</li>
			<li>
				<div class="nav__line"></div>
			</li>
			<li>
				<a href="/contacts.html" class="transition">
					<span class="text-underlined">Контакты</span>
				</a>
			</li>
		</ul>
	</div>
</nav>

	</div>
</header>



			
	<section class="content">
		<div class="newsDetailed-page__background">
			<div class="newsDetailed-page__container container">
				<h1>22 и 23 июля в Ангарске большие мультиспортивные выходные</h1>
				<img src="../../assets/images/triatlon.jpg" alt="22 и 23 июля в Ангарске большие мультиспортивные выходные">
				<p><h3>Впервые в Ангарске на Еловском пруду 2 дня самых летних, жарких, красивых спортивных праздника! </h3>
		
		<ul><b>Спортивная программа:</b>
			<li><b>22.07. Триатлон-кросс (плавание, велосипед-МТБ, бег):</b>
				<li>- ХС6,7 – 0,2 / 5 / 1,5,</li>
				<li>- ХС13,5 – 0,5 / 10 / 3,</li>			
				<li>- ХС27 – 1 / 20 / 6.</li>
				<li>Участники на дистанциях ХС13,5 и ХС27 получат уникальную медаль финишера.</li>
			</li>
			<li><b>23.07. Акватлон-кросс (бег, плавание, бег):</b>
				<li>- Суперспринт 3 км – 1,25 / 0,5 / 1,25,</li>
				<li>- Спринт 6 км – 2,5 / 1 / 2,5,</li>
				<li>- Плавание на открытой воде: 200 и 500 м.</li>
			</li>
		</ul>
		<p>Подробная информация и регистрация участников на сайте <a href="https://alpmarathon.ru/">alpmarathon.ru</a>.</p>
		<p>Все дистанции доступны даже любителям 'с дивана'. Время прохождения от 30 до 120 мин.! Для участия нужны: горный велосипед (свой), велошлем, плавательный костюм/плавки и шапочка. Минимальный возраст участников 13 лет</p>
		<p>Безопасность на воде обеспечивается ГИМС МЧС РФ.</p>
		<p>Не пропусти самые яркие спортивные выходные этого лета</p>
		
		<ul><b>Организаторы:</b>
			<li>- Компания Цельсий</li>
			<li>- Марафоны БАМ</li>
			<li>- Администрация Ангарского округа</li>
			<li>- Федерация триатлона России</li>
			<li>- Федерация триатлона ИО</li>
			<li>- При поддержке минспорта</li>
		</ul>
		<p>Главный информационный партнер — LOVE Radio в Иркутске 104.2 ФМ!</p>		
		</p>
				<a href="/news.html" class="text-underlined transition">Вернуться к новостям</a>
			</div>
		</div>
	</section>


			
	

<footer>
	<div class="footer__menu container">
		<div class="footer__menu_left-block">
			<h6>Федерация плавания Иркутской области «Байкал»</h6>
			<p>Мы воспитываем в детях стремление к победе, дисциплину, выносливость и спортивный дух.
			</p>
		</div>
		<div class="footer__line"></div>
		<div class="footer__menu_right-block">
			
				<a href="https://go.2gis.com/akm0i" target="_blank">
					<div class="row footer__contacts__block">
						<img src="../../assets/images/icons/location1_icon.svg" alt="address" class="footer__icon">
						<div class="footer__contacts__block__text text-underlined">664050, Иркутская область, г.Иркутск, ул.Байкальская, 253/1</div>
					</div>
				</a>
			
				<a href="tel:+7111111111111" target="_blank">
					<div class="row footer__contacts__block">
						<img src="../../assets/images/icons/phone_icon.svg" alt="phone" class="footer__icon">
						<div class="footer__contacts__block__text text-underlined">+7 111111111111</div>
					</div>
				</a>
			
				<a href="mailto:email_address@gmail.com" target="_blank">
					<div class="row footer__contacts__block">
						<img src="../../assets/images/icons/envelope_mail_icon.svg" alt="email" class="footer__icon">
						<div class="footer__contacts__block__text text-underlined">email_address@gmail.com</div>
					</div>
				</a>
			
		</div>
	</div>

	<div class="footer__rights">
		<div class="footer__rights__container row container">
			Федерация плавания Иркутской области<br>Copyright © 2023 Все права защищены
			<div class="row">
				
					<a href="https://instagram.com/swimming.irkutsk?igshid=NTc4MTIwNjQ2YQ==" target="_blank">
						<img src="../../assets/images/icons/instagram_icon.svg" class="footer__rights__icon " alt="instagram">
					</a>
				
					<a href="https://t.me/fpiobaikal" target="_blank">
						<img src="../../assets/images/icons/telegram_icon.svg" class="footer__rights__icon " alt="telegram">
					</a>
				
					<a href="https://vk.com" target="_blank">
						<img src="../../assets/images/icons/vk_icon.svg" class="footer__rights__icon " alt="vkontakte">
					</a>
				
			</div>
		</div>
	</div>
</footer>


		</div>
	</body>
</html>
