@mixin respond-to($media) {
    @if $media == xs {
        @media (min-width: ($screen-xs)) { @content }
    };
    @if $media == sm {
        @media (min-width: ($screen-sm - 1)) { @content }
    };
    
    @if $media == md {
        @media (min-width: ($screen-md - 1)) { @content }
    };
    @if $media == lg {
        @media (min-width: ($screen-lg - 1)) { @content }
    };
    @if $media == xl {
        @media (min-width: ($screen-xl - 1)) { @content }
    };
};



@mixin useFont($family, $fileName, $fontWeight) {
    @font-face {
        font-family: $family;
        src: url('../fonts/#{$fileName}.woff2') format('woff2'), url('../fonts/#{$fileName}.woff') format('woff');
        font-weight: $fontWeight;
        font-style: normal;
        font-display: swap;
    }
}

