.theme-switcher__container {
    position: fixed;
    top: 7px;
    right: 20px;
    z-index: 5000;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    box-shadow: $blue-shadow;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('https://www.uplooder.net/img/image/2/addf703a24a12d030968858e0879b11e/moon.svg');
    background-color: $blue;

    @include respond-to(lg) {
        top: 10px;
    }

    & label {
        width: 60px;
        height: 60px;
        opacity: 0;
        border: 2px solid red;

    }

    & input {
        width: 100%;
        height: 100%;
        opacity: 0;

        &:hover {
            cursor: pointer;
        }
    }

}