.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100px;
    padding: 0px;   
    background: $white;
    z-index: 2;
    border-bottom: 5px solid $light-blue;  
    border-top: none;
    

    & .header__container {
        padding: 8px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: min(97%, 1500px);
        margin-left: auto;
        margin-right: auto;     
        @include respond-to(md) {
            padding: 0px;
        }
    }
    
    & .header__logo {
        width: 100px;  
        margin-left: 0px;
        margin-top: 10px;

        
        @include respond-to(lg) {
            width: 140px;
            margin-top: 10px;
        }        
    }
}



