<header class="header">
	<div class="header__container container">
		<a href="index.html" area-label='Logo'>
			<img src="../../assets/images/logo.png" class='header__logo' alt="Logo">
		</a>
		{% include './_nav.twig' %}
	</div>
</header>
