{% extends "../_layout.twig" %}
{% set pageTitle = 'News Item page' %}


{% block header %}
	{% include '../layouts/_header.twig' %}
{% endblock %}

{% block content %}
	<section class="content">
		<div class="newsDetailed-page__background">
			<div class="newsDetailed-page__container container">
				<h1>{{ newsItem.header }}</h1>
				<img src="{{ newsItem.url }}" alt="{{ newsItem.header }}">
				<p>{{ newsItem.text }}</p>
				<a href="/news.html" class="text-underlined transition">Back to News</a>
			</div>
		</div>
	</section>
{% endblock %}

{% block footer %}
	{% include '../layouts/_footer.twig' %}
{% endblock %}
